@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('../resources/fonts/quicksand-qU.woff') format('woff');
}

body {

	background-image: url("../images/background/cross_scratches.png");
	background-repeat: repeat;
	font-family: 'Quicksand', bold, sans-serif;
	color: #0a0a0a;
}

footer {
	position: fixed;
	bottom: 5px;
	left: 5px;
	font-family: sans-serif;
	color: #0a0a0a;	
}

ul {
	list-style: none;
}

h1 {
	padding: 70px 25px 0px 25px;
}

p, h2 {
	position: relative;
	top: 5px;
	left: 30px;
	max-width: 580px;
}

#meTitle {
	float:left;
	height: 100%;
	width: 50%;
	border-right: 5px double black;
}

#meIcon {
	float:right;
}

#portfolioTitle {
	float:right;	
}

#portfolioIcon {
	float:left;
	height: 100%;
	width: 50%;
	border-right: 5px double black;
}

#blogTitle {
	float:left;
	height: 100%;
	width: 50%;
	border-right: 5px double black;
}

#blogIcon {
	float:right;
}

/* Flip card */

.block {
    position: relative;
    top: 15px;
    height: 320px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1.5s;
}
.rotated{
    -webkit-transform: rotateY(180deg);
}
.side{
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0 2px 15px #666;
        background-image: url("../images/background/mochaGrunge.png");
    -webkit-border-radius: 5px 5px 5px 5px
}
.front{
    height: 300px;
    width: 640px;
}
.back{
    height: 300px;
    width: 640px;
    -webkit-transform: rotateY(180deg);
    
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;    
}