<!DOCTYPE HTML>

<html>
<head>

</head>
<body background="http://www.wallibs.com/gudang/best-website-background-hd-backgoun.jpg">
<h1 style="color:white">How much would you pay for a children party ?</h1>
<div id="survey" style="display: block;color: white">
        <input type="radio" name="amount" value="500"/>500dkk
        <input type="radio" name="amount" value="1000"/>1000dkk
        <input type="radio" name="amount" value="1500"/>1500dkk
        <input type="radio" name="amount" value="2000"/>2000dkk
        <input type="radio" name="amount" value="2500"/>2500dkk
</div>
</body>
</html>